* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #8dffff;
  overflow-x: hidden;
  overflow-y: hidden;
}
.sprite-container {
  height: 100vh;
  display: flex;
  align-items: center;
}
.sprite-image {
  width: 68.2px;
  height: 80px;
  background: url(img/spriteRunRight.png)0px 0px;
  animation: play 0.8s steps(30) infinite,
             step 30s linear infinite;
  position: absolute;
  left: -100px;
  bottom: 110px;
}
@keyframes play {
  100% {
    background-position: -2046px;
  }
}
@keyframes step {
  100% {
    left: 100%;
  }
}
audio {
  position: absolute;
  height: 20px;
  width: 200px;
  top: 650px;
  left: 170px;
}
.road {
  position: absolute;
  width: 400px;
  height: 50px;
  left: 0;
  bottom: 100px;
  background: #585a5e;
  z-index: -1;
}
.p {
  position: absolute;
  width: 400px;
  height: 2px;
  left: 0;
  bottom: 130px;
  background: #fff;
  z-index: -1;
}
.ground {
  position: absolute; 
  width: 400px;
  height: 300px;
  left: 0;
  top: 618px;
  background: #75ad26;
  z-index: -2;
}
img {
  position: absolute;
  top: 50px;
  right: 50px;
}
.cloud {
  width: 196px;
  height: 99px;
  background: url(img/cloud.png) no-repeat;
  position: absolute;
  top: 35px;
  left: 0;
  animation: clouds 48s linear infinite;
  transform: translateX(200%);
  z-index: 1;
}
@keyframes clouds {
  100% {
    transform: translateX(-100%);
  }
}
.cloud2 {
  top: 80px;
  animation: clouds 46s linear infinite;
}
marquee {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: #123fff;
  top: 340px;
  left: 0;
}
#k {
  position: absolute;
  width: 400px;
  top: 370px;
  left: 0;
  z-index: -1;
}
h1 {
  position: absolute;
  color: #888;
  font-size: 5vw;
  top: 380px;
  background: linear-gradient(45deg, #f00, #f0f, #ff0, #00f, #0ff, #0f0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: .1rem transparent;
  background-size: 500%;
  animation: text 5s linear infinite;
}
@keyframes text {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
#cnv {
  position: absolute;
  top: 0;
}
#g {
  position: absolute;
  left: 5px;
  top: 5px;
}